---
const { pageId } = Astro.props
import "../acf/flexible.css"
import {flexibleContent1} from "./flexible-content1.js";
import {flexibleContent2} from "./flexible-content2.js";

const PUBLIC_WORDPRESS_API_URL = import.meta.env.PUBLIC_WORDPRESS_API_URL;
const query = `{
        page(id: "${pageId}", idType: DATABASE_ID) {
    homeFlexible {
      flexible {
        ... on Page_Homeflexible_Flexible_Contenido1 {
          texto
          imagen {
            sourceUrl
            srcSet
            mediaDetails {
              height
              width
            }
          }
          fieldGroupName
        }
        ... on Page_Homeflexible_Flexible_Contenido2 {
          texto
          titulo
          fotos {
            sourceUrl
           
          }
          fieldGroupName
        }
      }
    }
  }
            }
            `
async function FlexibleACF() {
  const FlexibleACF = await fetch(`${PUBLIC_WORDPRESS_API_URL}`, {
    method: "post",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: query,
    }),
  });
  const { data } = await FlexibleACF.json();
  
  return data;
}

const data = await FlexibleACF();
let outputHTML = "";
for (const flexibleGroup of data.page.homeFlexible.flexible) {

  switch (flexibleGroup.fieldGroupName) {
    case "Page_Homeflexible_Flexible_Contenido1":
    outputHTML += flexibleContent1(flexibleGroup);

      
      break; 

    case "Page_Homeflexible_Flexible_Contenido2":
      outputHTML += flexibleContent2(flexibleGroup);
      break;

    default:
      break;
  }
}

---

<div class="flexible-content" data-page-id={pageId}> 
  <div set:html={outputHTML}></div>
</div>
