---
import MainLayout from "../layouts/MainLayout.astro";
import Section1 from "../components/acf/section-1.astro";
import Section2 from "../components/acf/section-2.astro";
import Carousel from "../components/acf/carousel.astro";

const {slug} = Astro.params
// import "../components/acf/flexible.css"

const PUBLIC_WORDPRESS_API_URL = import.meta.env.PUBLIC_WORDPRESS_API_URL;

async function FlexibleACF() {
  const FlexibleACF = await fetch(`${PUBLIC_WORDPRESS_API_URL}`, {
    method: "post",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `{
        pageBy(uri: "${slug}") {
            title
            content
            carousel {
                item {
                    titulo
                    imagen {
                    sourceUrl
                    }
                }
            }
        }
    }
            `,
    }),
  });
  const { data } = await FlexibleACF.json();
  return data;
}

const data = await FlexibleACF();
---
<MainLayout title='Pagina desde WordPress'>
<div class="page-content" data-page-slug={slug}>
     <h1>{data?.pageBy?.title}</h1> 
     <div set:html={data?.pageBy?.content}></div>
     {
         data.pageBy?.carousel?.item != null ? (
         <Carousel data={data.pageBy.carousel}/>
         ) 
         : null
     }

     
    <h2>Sections</h2>
    <Section1/>  
    <Section2/>
  </div>
</MainLayout>  