---
import MainLayout from "../../layouts/MainLayout.astro"
const {slug} = Astro.params

const PUBLIC_WORDPRESS_API_URL = import.meta.env.PUBLIC_WORDPRESS_API_URL;

async function PostContent() {
  const PostContent = await fetch(`${PUBLIC_WORDPRESS_API_URL}`, {
    method: "post",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `{
        postBy(slug:"${slug}") {
    title
    content
    categories {
      nodes {
        name
        slug
      }
    }
  }
    }
            `,
    }),
  });
  const { data } = await PostContent.json();
  return data;
}

const data = await PostContent();
---
<MainLayout title={data?.postBy?.title}>
    <h1>{data?.postBy?.title}</h1>
    <div set:html={data?.postBy?.content}></div>
    {
      data?.postBy?.categories?.nodes.map( (cat) => (
        <p><a href={`/blog/categorias/${cat.slug}`}>{cat.name}</a></p>
      )) 
    }
</MainLayout>