---
const {title, description} = Astro.props
import Form from "../components/Form.astro"

// Inicio de Sesion
import { SignIn, SignOut } from 'auth-astro/components'
import { Auth } from 'auth-astro/components'
import {getSession } from 'auth-astro/server'
const session = await getSession(Astro.request)


// Menu Active Item
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1)
const isBlog = currentPath.includes("blog") && !currentPath.includes("categorias")

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex, nofollow">
		<title>{title}</title>
		<meta name="description" content={ description || " "}>
		<!-- <link rel="stylesheet" href="../styles/wp-styles.css" /> -->
	</head>
	<body>
		<main>
			<div class="login">
				
    			{session ? (
					<p>Welcome {session.user?.name}</p>
					<SignOut class="logout">Logout</SignOut>
				  ) : (
					<p>Hola invitado!</p>
				   <SignIn provider="google">Login Google</SignIn>
				   
				  )}
			</div> 
			<nav>
				<a class={currentPath === "" ? "active" : ""} data-astro-prefetch="hover" href={Astro.url.origin}>Inicio</a>
				<a class={isBlog ? "active" : ""} data-astro-prefetch="hover" href=`${Astro.url.origin}/blog`>Blog</a>
				<a class={currentPath === "blog/categorias/categoria-1" ? "active" : ""} data-astro-prefetch="hover" href=`${Astro.url.origin}/blog/categorias/categoria-1`>Blog Categoria 1</a>
				<a class={currentPath === "carousel" ? "active" : ""} data-astro-prefetch="hover" href=`${Astro.url.origin}/carousel`>Carousel</a>
				<a class={currentPath === "pagina-2" ? "active" : ""}data-astro-prefetch="hover" href=`${Astro.url.origin}/pagina-2`>Pagina 2</a>
				<a class={currentPath === "acf" ? "active" : ""} data-astro-prefetch="hover" href=`${Astro.url.origin}/acf`>ACF</a>
				<a class={currentPath === "contacto" ? "active" : ""} data-astro-prefetch="hover" href=`${Astro.url.origin}/contacto`>Contacto</a>
				<a class={currentPath === "resend" ? "active" : ""} data-astro-prefetch="hover" href=`${Astro.url.origin}/resend-form`>Resend Form</a>
				<a class={currentPath === "crear-post" ? "active" : ""} data-astro-prefetch="hover" href=`${Astro.url.origin}/crear-post`>Crear Post</a>
				<a class={currentPath === "login" ? "active" : ""} data-astro-prefetch="hover" href=`${Astro.url.origin}/login`>Login</a>
			</nav>

			<Form />
			<slot></slot>
		</main>
	</body>
</html>
<script>
	// Obtener localStorage nicename y si existe mostrarlo adentro de el div wp-nicename
	const nicename = localStorage.getItem('nicename');
	const loginText = document.querySelector('.login p');
	if (nicename && nicename!="undefined") { 
		loginText.textContent = `Hola ${nicename}!`;
	}	
const btnLogout = document.querySelector('.logout');
if(btnLogout){
btnLogout.addEventListener('click', () => {
	localStorage.removeItem('jwt');
	localStorage.removeItem('nicename');
})
}
</script>
<style>
	body {
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
	}
	main {
		width:100%;
		max-width: 1024px;
		margin:auto;
	}
	nav {
		margin:20px;
	}
	nav a {
		margin:5px 15px;
		&.active {
			font-weight: bold;
		}
	}
</style>